.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 700px;
}

.body {
  width: 70%;
  max-width: 1000px;
  background-image: url("./images/img_fan_bg.jpg");
  background-size: cover;
  background-position: 100% 100%;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 700px;
}
